.post{
    background-color: #fff;
    transition: transform 100ms ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  }
  
  .post:hover{
  transform: scale(1.1);
  }
  .post img{
    max-width: 100%;
  }
  
  .post-content{
    padding: 22px;
  
  }
  